<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cotizaciones</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#4169e1" style="padding: 40px 0 30px 0; color: aliceblue; font-size: 22px">
            <img src="https://javeriana-assets.s3.amazonaws.com/logo.png" alt="Cotizaciones"
                 style="display: block; height: 110px; padding-bottom: 4px"/>
            Sistema de Cotizaciones.
        </td>
    </tr>
    <tr>
        <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px; font-size: 32px">
            <p>Señor(a) [[${firstName}]] [[${lastName}]],</p>
            <p>Te hemos generado la<strong> cotización </strong>por el proveedor<strong> [[${businessName}]] </strong>
                la cual te enviamos como adjunto para tú revisión.</p>
            <p>Gracias!!!</p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#777777" style="padding: 30px 30px 30px 30px; font-size: 10px">
            <p><strong>Agradecemos no dar respuesta a este correo, </strong>esta dirección de correo electrónico es
                únicamente para
                envíos automáticos de información y no está habilitado para recibir respuestas o consultas. </p>
        </td>
    </tr>
</table>

</body>
</html>